
.has-success .form-control,
.has-error .form-control,
.has-success .form-control:focus,
.has-error .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .form-control, .form-control.valid {
    color: #66615b;
    border-color: #e8e7e3;
}

.has-success .form-control:focus, .form-control.valid:focus {
    background-color: #FFFFFF;
    border-color: #7AC29A;
}

.has-error .form-control, .form-control.error {
    background-color: #FFC0A4;
    color: #EB5E28;
    border-color: #EB5E28;
}

.has-error .form-control:focus, .form-control.error:focus {
    background-color: #FFFFFF;
    border-color: #EB5E28;
}
